* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Kode Mono", monospace;
}

.board {
  height: 502px;
  width: 502px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.inputs-div {
  margin-top: 40px;
  display: flex;
  gap: 100px;
}

.slider-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 7px;
  border: none;
  box-shadow: 2px 2px 0 0 black;
  border: 1px solid black;
}

button:hover {
  transform: translate(-1px, -1px);
  top: 0;
  left: 0;
}
